php_value date.timezone 'Asia/Colombo'

<IfModule mod_rewrite.c>
    RewriteEngine On
     RewriteCond %{REQUEST_URI} !^public
     RewriteRule ^(.*)$ public/$1 [L]
  
  
    # for maintainance  
    # Check if the "debug" parameter is present and not empty
    # RewriteCond %{QUERY_STRING} !debug
    
    # Redirect to the maintenance page if the "debug" parameter is missing
    #RewriteRule ^(.*)$ http://maintenance.buyme.lk/$1 [R=302,L]
</IfModule>
